{% extends "base.html" %}
{% load static %}

{% block title %}Event: {{event}}{% endblock %}

{% block content %}

	<table>
		<td style="padding-left: 0;">
			<img src="{% static 'event.png' %}">
		</td>
		<td>
			<h1>{{ event }}</h1>
			<p>{{ event.description }}</p>
		</td>
	</table>

	<h2 style="margin: 60px 0 40px 0;">Come check out these vendors:</h2>
	<table>
		{% for vendor in event.vendor_set.all|slice:"5" %}
		<tr>
			<td>
				<a href="{% url 'vendors:detail' vendor.id %}">
					<img src="{% static 'vendor.jpg' %}">
				</a>
			</td>
			<td colspan="3">
				<h4><a href="{% url 'vendors:detail' vendor.id %}" class="link">{{vendor}}</a></h4>
				<small>{{vendor.description | truncatechars:50}}</small>
			</td>
		{% endfor %}
	</table>

{% endblock %}